<footer>
    <section class="content-width">
		<div class="footer-column">
			<a class="footer-logo" routerLink="/">Airtography</a>
			<a href="mailto:info@airtography.de">info&#64;airtography.de</a>
			<a href="tel:{{ phoneNumber }}">{{phoneNumberSpaces}}</a>
		</div>
		<div class="footer-column">
			<p>Menu</p>
			<a routerLink="/">Home</a>
			<a routerLink="/leistungen">Leistungen</a>
			<a routerLink="/kontakt">Kontakt</a>
			<a routerLink="/login">Login</a>
		</div>
		<div class="footer-column">
			<p>Leistungen</p>
			<a routerLink="/leistungen">Immobilien</a>
			<a routerLink="/leistungen">Natur</a>
			<a routerLink="/leistungen">Industrie & Gewerbe</a>
			<a routerLink="/leistungen">Events</a>
			<a routerLink="/leistungen">Individuell</a>
		</div>
		<div class="footer-column">
			<p>Kontakt</p>
			<a routerLink="/kontakt">Kontakt</a>
			<a routerLink="/kontakt">Auftrag anfragen</a>
			<a routerLink="/jobs">Jobs</a>
		</div>
	</section>
	<div class="copyright-banner">
		<div class="content-width">
			<div class="copyrigth-text">
				Copyright © 2023 Airtography - Professionelle Drohnenfoto- & Videografie. Alle Rechte vorbehalten.
			</div>
			<div class="copyright-links">
				<a routerLink="/impressum">Impressum</a>
				<a routerLink="/impressum">Datenschutz</a>
			</div>
		</div>
	</div>
</footer>