<div class="content-width stylesheet">
	<h1>This is an h1 Title</h1>
	<h2>This is an h2 Title</h2>
	<h3>This is an h3 Title</h3>
	<h4>This is an h4 Title</h4>
	<h5>This is an h5 Title</h5>
	<h6>This is an h6 Title</h6>

	<br>

	<p>This is a paragraph! Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse magni, necessitatibus odit mollitia sit tempore atque, adipisci in soluta consequatur pariatur iusto voluptatum omnis aliquid blanditiis similique libero autem consequuntur!</p>

	<a href="https://janickbunzel.de" target="_blank">This is a default a-tag link</a>
	<div class="spacer"></div>

	<a class="button-ultralight" routerLink="/">Button Ultralight</a>
	<div class="spacer"></div>

	<a class="button-light" routerLink="/">Button Light</a>
	<div class="spacer"></div>

	<a class="button-mediumdark" routerLink="/">Button Mediumdark</a>
	<div class="spacer"></div>

	<a class="button-dark" routerLink="/">Button Dark</a>
	
	<div class="spacer"></div>
	<div class="spacer"></div>
	<div class="spacer"></div>

	<form>  
		<div class="field">
			<label class="label">Input</label>
			<input type="text" class="input" required>
		</div>
		<div class="field">
			<label class="label">Textarea</label>
			<textarea class="textarea" required></textarea>
		</div>
		<button type="submit" class="button-dark">Send</button>
		<div #feedbackElement class="form-feedback form-feedback-success" style="display: block;">Vielen Dank! Wir werden uns in Kürze bei Ihnen melden.</div>
		<div #feedbackElement class="form-feedback form-feedback-incomplete" style="display: block;">Bitte füllen Sie alle erforderlichen Felder aus.</div>
		<div #feedbackElement class="form-feedback form-feedback-error" style="display: block;">Leider ist ein Fehler aufgtreten, wir bitten um Entschuldigung. Gerne können Sie uns direkt eine Email schreiben an: <a #feebackIncompleteLink href="mailto:info@airtography.de">info&#64;airtography.de</a></div>
	</form>
</div>