<section class="impressum">
	<div class="content-width">
		<h1>Impressum</h1>
		<h4>Angaben gemäß § 5 TMG</h4>
		<p>
			Janick Bunzel<br>
			{{addressLine1}}<br>
			{{addressLine2}}
		</p>

		<h4>Kontakt</h4>
		<p>
			Telefon: {{phoneNumberSpaces}}<br>
			E-Mail: info&#64;airtography.de
		</p>

		<h4>Haftungsausschluss - Disclaimer:</h4>
		<p><strong>Haftung für Inhalte</strong></p>
		<p>Alle Inhalte unseres Internetauftritts wurden mit größter Sorgfalt und nach bestem Gewissen erstellt. Als
			Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
			Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte
			oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
			allgemeinen Gesetzen bleiben hiervon unberührt.
		</p>
		<p>
			Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntniserlangung einer konkreten
			Rechtsverletzung
			möglich. Bei Bekanntwerden von den o.g. Rechtsverletzungen werden wir diese Inhalte unverzüglich entfernen.
		</p>

		<p><strong>Haftungsbeschränkung für externe Links</strong></p>
		<p>
			Unsere Webseite enthält Links auf externe Webseiten Dritter. Auf die Inhalte dieser direkt oder indirekt
			verlinkten
			Webseiten haben wir keinen Einfluss. Daher können wir für die „externen Links“ auch keine Gewähr auf
			Richtigkeit der
			Inhalte übernehmen. Für die Inhalte der externen Links sind die jeweilige Anbieter oder Betreiber (Urheber)
			der
			Seiten verantwortlich.
		</p>
		<p>
			Die externen Links wurden zum Zeitpunkt der Linksetzung auf eventuelle Rechtsverstöße überprüft und waren im
			Zeitpunkt der Linksetzung frei von rechtswidrigen Inhalten. Eine ständige inhaltliche Überprüfung der
			externen Links
			ist ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht möglich. Bei direkten oder indirekten
			Verlinkungen auf
			die Webseiten Dritter, die außerhalb unseres Verantwortungsbereichs liegen, würde eine Haftungsverpflichtung
			ausschließlich in dem Fall nur bestehen, wenn wir von den Inhalten Kenntnis erlangen und es uns technisch
			möglich
			und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.
		</p>
		<p>
			Diese Haftungsausschlusserklärung gilt auch innerhalb des eigenen Internetauftrittes „Airtography“
			gesetzten Links und Verweise von Fragestellern, Blogeinträgern, Gästen des Diskussionsforums. Für illegale,
			fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung
			solcherart dargestellten Informationen entstehen, haftet allein der Diensteanbieter der Seite, auf welche
			verwiesen
			wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.</p>
		<p>Werden uns Rechtsverletzungen bekannt, werden die externen Links durch uns unverzüglich entfernt.</p>

		<p><strong>Urheberrecht</strong></p>
		<p>
			Die auf unserer Webseite veröffentlichen Inhalte und Werke unterliegen dem deutschen Urheberrecht (<a
				href="http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf">http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf</a>).
			Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung des geistigen Eigentums in
			ideeller und
			materieller Sicht des Urhebers außerhalb der Grenzen des Urheberrechtes bedürfen der vorherigen
			schriftlichen
			Zustimmung des jeweiligen Urhebers i.S.d. Urhebergesetzes (<a
				href="http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf">http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf</a>
			). Downloads und Kopien dieser Seite sind nur für den privaten und nicht kommerziellen Gebrauch erlaubt.
			Sind die
			Inhalte auf unserer Webseite nicht von uns erstellt wurden, sind die Urheberrechte Dritter zu beachten. Die
			Inhalte
			Dritter werden als solche kenntlich gemacht. Sollten Sie trotzdem auf eine Urheberrechtsverletzung
			aufmerksam
			werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir
			derartige
			Inhalte unverzüglich entfernen.
		</p>

		<!-- <h4>Umsatzsteuer-ID</h4>
		<p>
			Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br>
			DE999999999
		</p> -->

		<!-- <h4>Angaben zur Berufshaftpflichtversicherung</h4>
		<p>
			<strong>Name und Sitz des Versicherers:</strong><br>
			Beispiel Versicherung AG<br>
			Musterweg 10<br>
			90210 Musterstadt
		</p>
		<p>
			<strong>Geltungsraum der Versicherung:</strong><br>
			Deutschland
		</p>

		<h4>Verbraucherstreitbeilegung/Universalschlichtungsstelle</h4>
		<p>
			Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
		</p>
		<br> -->

		<h2>Datenschutzerklärung</h2>
		<p>Stand: 19. Juni 2023</p>

		<h4>Inhaltsübersicht</h4>
		<ul>
			<li>Verantwortlicher</li>
			<li>Übersicht der Verarbeitungen</li>
			<li>Maßgebliche Rechtsgrundlagen</li>
			<li>Sicherheitsmaßnahmen</li>
			<li>Kontakt- und Anfragenverwaltung</li>
			<li>Plugins und eingebettete Funktionen sowie Inhalte</li>
			<li>Änderung und Aktualisierung der Datenschutzerklärung</li>
			<li>Rechte der betroffenen Personen</li>
		</ul>

		<h4>Übersicht der Verarbeitungen</h4>
		<p>
			Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung
			zusammen und verweist auf die betroffenen Personen.
		</p>

		<h5>Arten der verarbeiteten Daten</h5>
		<ul>
			<li>Kontaktdaten.</li>
			<li>Inhaltsdaten.</li>
			<li>Nutzungsdaten.</li>
			<li>Standortdaten.</li>
			<li>Meta-, Kommunikations- und Verfahrensdaten.</li>
		</ul>
		<h5>Kategorien betroffener Personen</h5>
		<ul>
			<li>Kommunikationspartner.</li>
			<li>Nutzer.</li>
		</ul>
		<h5>Zwecke der Verarbeitung</h5>
		<ul>
			<li>Kontaktanfragen und Kommunikation.</li>
			<li>Verwaltung und Beantwortung von Anfragen.</li>
			<li>Feedback.</li>
			<li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
		</ul>
		<h5>Maßgebliche Rechtsgrundlagen</h5>
		<p>
			Im Folgenden erhalten Sie eine Übersicht der Rechtsgrundlagen der DSGVO, auf deren Basis wir
			personenbezogene Daten verarbeiten. Bitte nehmen Sie zur Kenntnis, dass neben den Regelungen der DSGVO
			nationale Datenschutzvorgaben in Ihrem bzw. unserem Wohn- oder Sitzland gelten können. Sollten ferner im
			Einzelfall speziellere Rechtsgrundlagen maßgeblich sein, teilen wir Ihnen diese in der Datenschutzerklärung
			mit.
		</p>
		<ul>
			<li><strong>Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)</strong> - Die
				Verarbeitung ist für die Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder
				zur
				Durchführung vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der betroffenen Person erfolgen.
			</li>
			<li><strong>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</strong> - Die Verarbeitung ist zur
				Wahrung
				der berechtigten Interessen des Verantwortlichen oder eines Dritten erforderlich, sofern nicht die
				Interessen
				oder Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten
				erfordern,
				überwiegen.</li>
		</ul>
		<p>Zusätzlich zu den Datenschutzregelungen der DSGVO gelten nationale Regelungen zum Datenschutz in Deutschland.
			Hierzu
			gehört insbesondere das Gesetz zum Schutz vor Missbrauch personenbezogener Daten bei der Datenverarbeitung
			(Bundesdatenschutzgesetz - BDSG). Das BDSG enthält insbesondere Spezialregelungen zum Recht auf Auskunft,
			zum Recht
			auf Löschung, zum Widerspruchsrecht, zur Verarbeitung besonderer Kategorien personenbezogener Daten, zur
			Verarbeitung für andere Zwecke und zur Übermittlung sowie automatisierten Entscheidungsfindung im Einzelfall
			einschließlich Profiling. Ferner können Landesdatenschutzgesetze der einzelnen Bundesländer zur Anwendung
			gelangen.
		</p>
		<h4>Sicherheitsmaßnahmen</h4>
		<p>Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der
			Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
			unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und Freiheiten
			natürlicher
			Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes Schutzniveau zu
			gewährleisten.</p>
		<p>Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von
			Daten durch
			Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie betreffenden Zugriffs, der
			Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir
			Verfahren
			eingerichtet, die eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen auf die
			Gefährdung
			der Daten gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten bereits bei der
			Entwicklung
			bzw. Auswahl von Hardware, Software sowie Verfahren entsprechend dem Prinzip des Datenschutzes, durch
			Technikgestaltung und durch datenschutzfreundliche Voreinstellungen.</p>
		<h4>Kontakt- und Anfragenverwaltung</h4>
		<p>Bei der Kontaktaufnahme mit uns (z.B. per Post, Kontaktformular, E-Mail, Telefon oder via soziale Medien)
			sowie im
			Rahmen bestehender Nutzer- und Geschäftsbeziehungen werden die Angaben der anfragenden Personen verarbeitet
			soweit
			dies zur Beantwortung der Kontaktanfragen und etwaiger angefragter Maßnahmen erforderlich ist.</p>
		<ul>
			<li><strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z.B. E-Mail, Telefonnummern); Inhaltsdaten (z.B.
				Eingaben in Onlineformularen); Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
				Zugriffszeiten);
				Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern,
				Einwilligungsstatus).</li>
			<li><strong>Betroffene Personen:</strong> Kommunikationspartner.</li>
			<li><strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und Kommunikation; Verwaltung und Beantwortung
				von
				Anfragen; Feedback (z.B. Sammeln von Feedback via Online-Formular); Bereitstellung unseres
				Onlineangebotes und
				Nutzerfreundlichkeit.</li>
			<li><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO);
				Vertragserfüllung
				und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).</li>
		</ul>
		<p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
		<ul>
			<li><strong>Kontaktformular: </strong>Wenn Nutzer über unser Kontaktformular, E-Mail oder andere
				Kommunikationswege
				mit uns in Kontakt treten, verarbeiten wir die uns in diesem Zusammenhang mitgeteilten Daten zur
				Bearbeitung des
				mitgeteilten Anliegens; <strong>Rechtsgrundlagen:</strong> Vertragserfüllung und vorvertragliche
				Anfragen (Art.
				6 Abs. 1 S. 1 lit. b) DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
		</ul>
		<h4>Plugins und eingebettete Funktionen sowie Inhalte</h4>
		<p>Wir binden in unser Onlineangebot Funktions- und Inhaltselemente ein, die von den Servern ihrer jeweiligen
			Anbieter
			(nachfolgend bezeichnet als "Drittanbieter”) bezogen werden. Dabei kann es sich zum Beispiel um Grafiken,
			Videos
			oder Stadtpläne handeln (nachfolgend einheitlich bezeichnet als "Inhalte”).</p>
		<p>Die Einbindung setzt immer voraus, dass die Drittanbieter dieser Inhalte die IP-Adresse der Nutzer
			verarbeiten, da
			sie ohne die IP-Adresse die Inhalte nicht an deren Browser senden könnten. Die IP-Adresse ist damit für die
			Darstellung dieser Inhalte oder Funktionen erforderlich. Wir bemühen uns, nur solche Inhalte zu verwenden,
			deren
			jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Drittanbieter können
			ferner
			sogenannte Pixel-Tags (unsichtbare Grafiken, auch als "Web Beacons" bezeichnet) für statistische oder
			Marketingzwecke verwenden. Durch die "Pixel-Tags" können Informationen, wie der Besucherverkehr auf den
			Seiten
			dieser Webseite, ausgewertet werden. Die pseudonymen Informationen können ferner in Cookies auf dem Gerät
			der Nutzer
			gespeichert werden und unter anderem technische Informationen zum Browser und zum Betriebssystem, zu
			verweisenden
			Webseiten, zur Besuchszeit sowie weitere Angaben zur Nutzung unseres Onlineangebotes enthalten als auch mit
			solchen
			Informationen aus anderen Quellen verbunden werden.</p>
		<ul>
			<li><strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
				Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben,
				Identifikationsnummern, Einwilligungsstatus); Standortdaten (Angaben zur geografischen Position eines
				Gerätes
				oder einer Person).</li>
			<li><strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
			<li><strong>Zwecke der Verarbeitung:</strong> Bereitstellung unseres Onlineangebotes und
				Nutzerfreundlichkeit.</li>
			<li><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
		</ul>
		<p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
		<ul>
			<li><strong>Google Fonts (Bezug vom Google Server): </strong>Bezug von Schriften (und Symbolen) zum Zwecke
				einer
				technisch sicheren, wartungsfreien und effizienten Nutzung von Schriften und Symbolen im Hinblick auf
				Aktualität
				und Ladezeiten, deren einheitliche Darstellung und Berücksichtigung möglicher lizenzrechtlicher
				Beschränkungen.
				Dem Anbieter der Schriftarten wird die IP-Adresse des Nutzers mitgeteilt, damit die Schriftarten im
				Browser des
				Nutzers zur Verfügung gestellt werden können. Darüber hinaus werden technische Daten
				(Spracheinstellungen,
				Bildschirmauflösung, Betriebssystem, verwendete Hardware) übermittelt, die für die Bereitstellung der
				Schriften
				in Abhängigkeit von den verwendeten Geräten und der technischen Umgebung notwendig sind. Diese Daten
				können auf
				einem Server des Anbieters der Schriftarten in den USA verarbeitet werden - Beim Besuch unseres
				Onlineangebotes
				senden die Browser der Nutzer ihre Browser HTTP-Anfragen an die Google Fonts Web API (d.h. eine
				Softwareschnittstelle für den Abruf der Schriftarten). Die Google Fonts Web API stellt den Nutzern die
				Cascading
				Style Sheets (CSS) von Google Fonts und danach die in der CCS angegebenen Schriftarten zur Verfügung. Zu
				diesen
				HTTP-Anfragen gehören (1) die vom jeweiligen Nutzer für den Zugriff auf das Internet verwendete
				IP-Adresse, (2)
				die angeforderte URL auf dem Google-Server und (3) die HTTP-Header, einschließlich des User-Agents, der
				die
				Browser- und Betriebssystemversionen der Websitebesucher beschreibt, sowie die Verweis-URL (d.h. die
				Webseite,
				auf der die Google-Schriftart angezeigt werden soll). IP-Adressen werden weder auf Google-Servern
				protokolliert
				noch gespeichert und sie werden nicht analysiert. Die Google Fonts Web API protokolliert Details der
				HTTP-Anfragen (angeforderte URL, User-Agent und Verweis-URL). Der Zugriff auf diese Daten ist
				eingeschränkt und
				streng kontrolliert. Die angeforderte URL identifiziert die Schriftfamilien, für die der Nutzer
				Schriftarten
				laden möchte. Diese Daten werden protokolliert, damit Google bestimmen kann, wie oft eine bestimmte
				Schriftfamilie angefordert wird. Bei der Google Fonts Web API muss der User-Agent die Schriftart
				anpassen, die
				für den jeweiligen Browsertyp generiert wird. Der User-Agent wird in erster Linie zum Debugging
				protokolliert
				und verwendet, um aggregierte Nutzungsstatistiken zu generieren, mit denen die Beliebtheit von
				Schriftfamilien
				gemessen wird. Diese zusammengefassten Nutzungsstatistiken werden auf der Seite „Analysen“ von Google
				Fonts
				veröffentlicht. Schließlich wird die Verweis-URL protokolliert, sodass die Daten für die Wartung der
				Produktion
				verwendet und ein aggregierter Bericht zu den Top-Integrationen basierend auf der Anzahl der
				Schriftartenanfragen generiert werden kann. Google verwendet laut eigener Auskunft keine der von Google
				Fonts
				erfassten Informationen, um Profile von Endnutzern zu erstellen oder zielgerichtete Anzeigen zu
				schalten;
				<strong>Dienstanbieter:</strong> Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland;
				<strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO);
				<strong>Website:</strong> <a href="https://fonts.google.com/"
					target="_blank">https://fonts.google.com/</a>;
				<strong>Datenschutzerklärung:</strong> <a href="https://policies.google.com/privacy"
					target="_blank">https://policies.google.com/privacy</a>; <strong>Weitere Informationen:</strong> <a
					href="https://developers.google.com/fonts/faq/privacy?hl=de"
					target="_blank">https://developers.google.com/fonts/faq/privacy?hl=de</a>.
			</li>
			<li><strong>Google Maps: </strong>Wir binden die Landkarten des Dienstes “Google Maps” des Anbieters Google
				ein. Zu
				den verarbeiteten Daten können insbesondere IP-Adressen und Standortdaten der Nutzer gehören;
				<strong>Dienstanbieter:</strong> Google Cloud EMEA Limited, 70 Sir John Rogerson's Quay, Dublin 2,
				Irland;
				<strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO);
				<strong>Website:</strong> <a href="https://mapsplatform.google.com/"
					target="_blank">https://mapsplatform.google.com/</a>; <strong>Datenschutzerklärung:</strong> <a
					href="https://policies.google.com/privacy" target="_blank">https://policies.google.com/privacy</a>.
			</li>
		</ul>
		<h4>Änderung und Aktualisierung der Datenschutzerklärung</h4>
		<p>Wir bitten Sie, sich regelmäßig über den Inhalt unserer Datenschutzerklärung zu informieren. Wir passen die
			Datenschutzerklärung an, sobald die Änderungen der von uns durchgeführten Datenverarbeitungen dies
			erforderlich
			machen. Wir informieren Sie, sobald durch die Änderungen eine Mitwirkungshandlung Ihrerseits (z.B.
			Einwilligung)
			oder eine sonstige individuelle Benachrichtigung erforderlich wird.</p>
		<p>Sofern wir in dieser Datenschutzerklärung Adressen und Kontaktinformationen von Unternehmen und
			Organisationen
			angeben, bitten wir zu beachten, dass die Adressen sich über die Zeit ändern können und bitten die Angaben
			vor
			Kontaktaufnahme zu prüfen.</p>
		<h4>Rechte der betroffenen Personen</h4>
		<p>Ihnen stehen als Betroffene nach der DSGVO verschiedene Rechte zu, die sich insbesondere aus Art. 15 bis 21
			DSGVO
			ergeben:</p>
		<ul>
			<li><strong>Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation
					ergeben,
					jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund von Art.
					6 Abs.
					1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmungen
					gestütztes Profiling. Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um
					Direktwerbung zu
					betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung der Sie betreffenden
					personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling,
					soweit
					es mit solcher Direktwerbung in Verbindung steht.</strong></li>
			<li><strong>Widerrufsrecht bei Einwilligungen:</strong> Sie haben das Recht, erteilte Einwilligungen
				jederzeit zu
				widerrufen.</li>
			<li><strong>Auskunftsrecht:</strong> Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob
				betreffende
				Daten verarbeitet werden und auf Auskunft über diese Daten sowie auf weitere Informationen und Kopie der
				Daten
				entsprechend den gesetzlichen Vorgaben.</li>
			<li><strong>Recht auf Berichtigung:</strong> Sie haben entsprechend den gesetzlichen Vorgaben das Recht, die
				Vervollständigung der Sie betreffenden Daten oder die Berichtigung der Sie betreffenden unrichtigen
				Daten zu
				verlangen.</li>
			<li><strong>Recht auf Löschung und Einschränkung der Verarbeitung:</strong> Sie haben nach Maßgabe der
				gesetzlichen
				Vorgaben das Recht, zu verlangen, dass Sie betreffende Daten unverzüglich gelöscht werden, bzw.
				alternativ nach
				Maßgabe der gesetzlichen Vorgaben eine Einschränkung der Verarbeitung der Daten zu verlangen.</li>
			<li><strong>Recht auf Datenübertragbarkeit:</strong> Sie haben das Recht, Sie betreffende Daten, die Sie uns
				bereitgestellt haben, nach Maßgabe der gesetzlichen Vorgaben in einem strukturierten, gängigen und
				maschinenlesbaren Format zu erhalten oder deren Übermittlung an einen anderen Verantwortlichen zu
				fordern.</li>
			<li><strong>Beschwerde bei Aufsichtsbehörde:</strong> Sie haben unbeschadet eines anderweitigen
				verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs das Recht auf Beschwerde bei einer
				Aufsichtsbehörde,
				insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts
				des
				mutmaßlichen Verstoßes, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden
				personenbezogenen
				Daten gegen die Vorgaben der DSGVO verstößt.</li>
		</ul>
	</div>
</section>