.jobs{
	text-align: center;
	background-color: var(--sectionBackgroundColorGray);
	padding-top: 60px;
	padding-bottom: 150px;
}

.jobslist{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
	padding-top: 50px;
	align-items: flex-start;
}
.job:nth-child(even){
	grid-column: 2;
}
.job{
	text-align: left;
	background-color: white;
	border-radius: 24px;
	padding: 42px 28px 28px 28px;
	display: flex;
	flex-direction: column;
}
.job h5{
	margin: 0 0 0.6rem 0;
	font-size: 1.8rem;
	font-weight: 600;
}
.job-description{
	margin-bottom: 1rem;
}
.job p:not(.job-description){
	margin: 0;
}
.job p{
	white-space: break-spaces;
}
.job h6{
	margin: 2.2rem 0 0.6rem 0;
	font-weight: 500;
}
.job a{
	margin: 2rem 0 0 auto;
}

@media (max-width: 767px) {
	.jobs{
		padding-bottom: 50px;
	}
	
	.jobslist{
		grid-gap: 30px;
		grid-template-columns: 1fr;
	}
	
	.job:nth-child(even){
		grid-column: 1;
	}
}