<!-- EINLEITUNG TEXT -->
<section class="intro">
	<div class="content-width">
		<h1>Kontakt</h1>
		<h4>Wir freuen uns auf Ihre Nachricht!</h4>
		<div class="neighbours">
			<p>
				<strong>Sie haben eine Frage?</strong>
				<br>
				<br> Gerne geben wir Ihnen Auskunft, wie wir Ihren Auftrag umzusetzten können und beantworten Ihre Fragen.
				<br>
				<br> Schreiben Sie uns doch eine Email:
				<br> <a href="mailto:info@airtography.de">info&#64;airtography.de</a>
				<br>
				<br> Oder rufen Sie uns an unter:
				<br> <a href="tel:{{phoneNumber}}">{{phoneNumberSpaces}}</a>
				<br>
				<br> Erreichbar sind wir von Montag - Freitag von 8:30 - 17:00.
			</p>
			<p>
				Für <strong>Kooperationen & regelmäßige Zusammenarbeit</strong> stehen wir Ihnen gerne zur Verfügung.
				<br>
				<br> Dazu können Sie auf uns zukommen unter:
				<br> <a href="mailto:management@airtography.de">management&#64;airtography.de</a>
			</p>
		</div>

		<div class="kontaktanfrage">
			<button *ngIf="!showForm" class="button-mediumdark" (click)="ShowKontaktForm()">Kontaktanfrage</button>
			<form *ngIf="showForm" #auftragForm="ngForm">
				<h4>Kontaktanfrage</h4>
				<div class="field">
					<label>Name</label>
					<input type="text" ngModel required name="name" #nameInput="ngModel" autocomplete="off" spellcheck="false">
					<label class="label-error" *ngIf="nameInput.invalid && nameInput.touched">Der Name ist erforderlich</label>
				</div>
				<div class="field">
					<label>Email</label>
					<input type="text" ngModel required name="email" #emailInput="ngModel" autocomplete="off" spellcheck="false">
					<label class="label-error" *ngIf="emailInput.invalid && emailInput.touched">Die Email ist erforderlich</label>
				</div>
				<div class="field-double">
					<div class="field">
						<label>Telefonnummer (optional)</label>
						<input type="tel" ngModel name="phone" autocomplete="off" spellcheck="false">
					</div>
					<div class="field">
						<label>Firma (optional)</label>
						<input type="text" ngModel name="firma" autocomplete="off" spellcheck="false">
					</div>
				</div>
				<div class="field">
					<label>Ihre Nachricht</label>
					<textarea type="text" ngModel required name="message" #messageInput="ngModel" autocomplete="off" spellcheck="false"></textarea>
					<label class="label-error" *ngIf="messageInput.invalid && messageInput.touched">Die Nachricht ist erforderlich</label>
				</div>
				<button class="button-dark" (click)="KontaktFromSubmit(auftragForm)" aria-label="Kontaktanfrage abschicken">Senden</button>
				<div #feedbackElement class="form-feedback">
					{{feedbackText}}
					<a #feebackIncompleteLink style="display: none;" href="mailto:info@airtography.de">info&#64;airtography.de</a>
				</div>
			</form>
		</div>
	</div>
</section>

<auftraganfragen></auftraganfragen>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d69671.33776914084!2d6.682685280320786!3d51.249085517146604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa89a144165c7e4c5%3A0x78527bd0edb2f4c4!2sAirtography%20-%20Luftaufnahmen!5e0!3m2!1sen!2sde!4v1688981246965!5m2!1sen!2sde" loading="eager" referrerpolicy="no-referrer-when-downgrade"></iframe>