section{
	background-color: var(--sectionBackgroundColorLightGray);
	padding: 180px 0;
}

.content-width{
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2{
	margin: 0;
}

p{
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
}
